@import url('https://fonts.googleapis.com/css2?family= Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900 &family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* To reset defoult styles */
body,
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f5f5f5;
    line-height: 1.6;
    color: #333;
}

/* Header styles*/
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* main content styling*/
main {
    padding-top: 100px;
    /* so the header dosent cover the main content */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    max-width: 900px;
    margin: 0 auto;
}

section {
    margin-bottom: 40px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #222;
    font-family: 'oswald', sans-serif;
}

.gallery-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery-container img {
    width: 30%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

/*footer styles*/
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    margin-top: 40px;
}

/* Media queries */

/* Mobile phones (max-width: 600px ) */
@media (max-width: 600px) {
    header h1 {
        font-size: 24px;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }

    nav ul li a {
        font-size: 16px;
    }

    main {
        padding-top: 215px;
        /* Padding for mobile*/
        padding-left: 10px;
        padding-right: 10px;
    }

    .gallery-container img {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Tablets (min-width: 601px) and max-width: 768px)*/

@media (min-width: 601px) and (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }

    nav ul li {
        margin-right: 10px;
    }

    main {
        padding-top: 130px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .gallery-container img {
        width: 48%;
        margin-bottom: 15px;
    }
}